@{
    ViewData["Title"] = "Deine Inserate";
}

<div class="text-center">
    <div class="jumbotron jumbotron-fluid bg-primary py-1">
        <h1 class="text-white display-5">deine Inserate</h1>
    </div>
    <a class="btn btn-primary" asp-controller="JobPosting" asp-action="CreatedEditJobPosting">neuen Job anlegen</a>
</div>
