@model List<JobPostingModel>
@{
    ViewData["Title"] = "Deine Inserate";
}

<div class="m-auto d-flex justify-content-end">
   @*  <h2>
        Deine Inserate
    </h2> *@
    <a class="btn btn-primary mb-3" asp-controller="JobPosting" asp-action="CreatedEditJobPosting">neuen Job anlegen</a>
   
</div>
@await Html.PartialAsync("_JobPostingsTable", Model)