html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f3f3f3;
}

.login-link-group > p {
    margin-bottom: 0;
}

.logo-small {
    margin-right: 1rem;
    object-fit: scale-down;
    position: relative;
    width: 3rem;
    height: 3rem;
}

.icon {
    height: 1.5rem;
    fill:gray;
}

.icon > svg {
    fill: #0d6efd;
    height: inherit;
}

.dataTables_wrapper {
    background-color: white;
    padding: 1.2rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
}

.card-header, .card-footer {
    background-color: white;
}